@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  margin-bottom: 64px;
}

.wrapper--main {
  background-image: url("img/bg.jpg");
  height: 100vh;
  /*735pxиз урока*/
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 76px;
  box-sizing: border-box;
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

@media (max-width: 1240px) {
  .header {
    padding-right: calc(50% - 393px);
    padding-left: calc(50% - 393px);
  }
}

@media (max-width: 768px) {
  .header {
    padding-right: calc(50% - 171px);
    padding-left: calc(50% - 171px);
  }
}

.search {
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  background: transparent;
  width: 288px;
  height: 41px;
  padding: 11px 10px 10px 32px;
  color: #FFFFFF;
}

.search::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.search:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.search::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.search::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.search:focus {
  outline: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 32px;
}

.menu__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #ffffff;
  display: inline-block;
  position: relative;
}

.menu__link::after {
  display: block;
  content: "";
  background-color: #ffffff;
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu__link:hover:after, .menu__link:focus:after {
  width: 100%;
}

.menu__mob {
  display: none;
}

.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
  box-sizing: border-box;
}

@media (max-width: 1240px) {
  .main {
    padding-right: calc(50% - 393px);
    padding-left: calc(50% - 393px);
  }
}

@media (max-width: 768px) {
  .main {
    padding-right: calc(50% - 171px);
    padding-left: calc(50% - 171px);
  }
}

.main__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  padding-top: 64px;
  margin-bottom: 16px;
  color: #ffffff;
  max-width: 800px;
}

.main__subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #ffffff;
}

.main__link {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.furniture__items {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.furniture__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  text-transform: uppercase;
  grid-column: span 4;
  height: 415px;
  text-decoration: none;
  position: relative;
}

.furniture__item span {
  z-index: 5;
}

.furniture__item--big {
  grid-column: span 6;
}

.furniture__item--1 {
  background: url("img/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.furniture__item--2 {
  background: url("img/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.furniture__item--3 {
  background: url("img/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.furniture__item--4 {
  background: url("img/bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.furniture__item--5 {
  background: url("img/bg5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.furniture__item::after {
  content: "";
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.furniture__item:hover::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.offer, .catalog, .furniture {
  margin-bottom: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
}

@media (max-width: 1240px) {
  .offer, .catalog, .furniture {
    padding-right: calc(50% - 393px);
    padding-left: calc(50% - 393px);
  }
}

@media (max-width: 768px) {
  .offer, .catalog, .furniture {
    padding-right: calc(50% - 171px);
    padding-left: calc(50% - 171px);
  }
}

.offer__items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 31px;
}

.offer__item {
  /*width: calc(100% / 3);*/
  width: 379px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.offer__item img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.offer__item:hover .offer__icon {
  opacity: 1;
}

.offer__item-img {
  position: relative;
}

.offer__item .offer__item-img::after {
  content: "";
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.offer__item:hover .offer__item-img::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.offer__icon {
  opacity: 0;
  position: absolute;
  top: 11px;
  right: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 5;
}

.offer__icon a {
  text-decoration: none;
}

.offer__icon a:hover path {
  fill: #FFFFFF;
}

.catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 31px;
          column-gap: 31px;
  row-gap: 48px;
  width: 100%;
  margin-bottom: 31px;
}

.catalog__item {
  width: 379px;
  /*width: ($widthPage - $gapItem*2) / 3;*/
}

.catalog__item img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.offer__title, .catalog__title, .furniture__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}

.catalog__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.item__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-top: 10px;
  margin-bottom: 8px;
}

.item__descr {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.item__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.item__price::after {
  content: " руб.";
}

.item__price--new {
  color: #050505;
}

.item__price--old {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
  padding-left: 32px;
}

.footer {
  background: #F7F6F6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
  padding-top: 32px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1240px) {
  .footer {
    padding-right: calc(50% - 393px);
    padding-left: calc(50% - 393px);
  }
}

@media (max-width: 768px) {
  .footer {
    padding-right: calc(50% - 171px);
    padding-left: calc(50% - 171px);
  }
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 12px;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  padding-bottom: 12px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}

.footer__social a {
  display: inline-block;
}

.footer__social--icon:hover path {
  fill: #000000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}

.form__input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  padding-left: 25px;
  width: 275.36px;
  height: 46px;
  margin-bottom: 12px;
}

.form__input:focus {
  outline: none;
  border: 1px solid #000000;
}

.form__input::-webkit-input-placeholder {
  /*font-family: Montserrat;*/
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.form__input:-ms-input-placeholder {
  /*font-family: Montserrat;*/
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.form__input::-ms-input-placeholder {
  /*font-family: Montserrat;*/
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.form__input::placeholder {
  /*font-family: Montserrat;*/
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.form__btn {
  font-family: Roboto, sans-serif;
  cursor: pointer;
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275.36px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form__btn:hover {
  background: #000000;
  color: #ffffff;
}

/*catalog styles*/
.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.wrapper--catalog {
  background-image: url("img/bg-catalog.jpg");
  height: 400px;
  /*из урока*/
}

.breadcrumbs {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs li a {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs li:not(:last-child):after {
  content: '/';
  padding-left: 10px;
  padding-right: 10px;
}

.select {
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding-left: 14px;
  padding-right: 15px;
  outline: none;
  width: 288px;
  height: 41px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(img/arrow_down.png) no-repeat right;
  background-position-x: calc(100% - 22px);
}

.wrapper--cart {
  background-image: url("img/bg-cart.jpg");
  height: 400px;
}

.cart {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
  margin-bottom: 64px;
}

@media (max-width: 1240px) {
  .cart {
    padding-right: calc(50% - 393px);
    padding-left: calc(50% - 393px);
  }
}

@media (max-width: 768px) {
  .cart {
    padding-right: calc(50% - 171px);
    padding-left: calc(50% - 171px);
  }
}

.cart__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 33px;
}

.products {
  max-width: 834px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 25px;
  border-top: 0.5px solid #CACDD8;
  padding-bottom: 32px;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 32px;
}

.product__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 14px;
}

.product__descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 16px;
  max-width: 276px;
}

.product__price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #050505;
  margin-bottom: 15px;
}

.product__btns {
  margin-top: auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}

.product__btn {
  font-size: 14px;
  line-height: 210%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
}

.products__btn {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border-radius: 50px;
  width: 200px;
  height: 37px;
  border: 1px solid #020202;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #020202;
  background: #ffffff;
}

.products__btn:hover {
  cursor: pointer;
  color: #ffffff;
  background: #020202;
}

.products__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}

/*
.products__btn--clear {
    color: #020202;
    background-color: #fff;
    &:hover {
        background-color: #020202;
        color: #fff;
    }
}

.products__btn--cont {
    color: #FFFFFF;
    background: #000000;
    &:hover {
        color: #020202;
        background-color: #fff;
    }
}*/
.product__num {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  background: #F7F6F6;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  color: #000000;
  border: none;
  font-family: 'Poppins', sans-serif;
  width: 47px;
  /*height: 51px;*/
  text-align: center;
}

.cart__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px;
  padding-right: 15px;
}

.cart__caption p {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.cart-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 379px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F7F6F6;
  border-radius: 20px;
  padding: 42px 30px 100px 27px;
}

.cart-form__title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
  margin-bottom: 35px;
}

.cart-form__btn {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border-radius: 50px;
  max-width: 290px;
  width: 100%;
  height: 41px;
  border: 1px solid #020202;
  color: #020202;
  background-color: #fff;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.cart-form__btn:hover {
  cursor: pointer;
  /*color: #ffffff;*/
  background-color: #F7F6F6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cart-form__btn:after {
  content: "";
  display: block;
  width: 20px;
  height: 200px;
  margin-left: 60px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5);
  position: absolute;
  left: -40px;
  top: -50px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .1s;
  transition: all .1s;
  -webkit-animation-name: slideme;
          animation-name: slideme;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: .08s;
          animation-delay: .08s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  to {
    left: 110%;
    margin-left: 80px;
  }
}

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  to {
    left: 110%;
    margin-left: 80px;
  }
}

.cart-form__input {
  outline: none;
  border: none;
  border-bottom: 1px solid #CACDD8;
  background: transparent;
  margin-bottom: 41px;
  max-width: 288px;
  width: 100%;
}

.cart-form__input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.cart-form__input:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.cart-form__input::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.cart-form__input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.cart-form__total {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 20px;
}

.product__price::after {
  content: "\00A0 руб.";
}

/*input style*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20px;
}

.product__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 71px;
  height: 51px;
  margin-left: auto;
  background: #F7F6F6;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  color: #000000;
  border: none;
  width: 71px;
  height: 51px;
}

.product__arrow--top {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1240px) {
  .catalog__items, .offer__items {
    gap: 28px;
  }
  .catalog__item {
    width: 378px;
  }
  .footer {
    padding-top: 32px;
    padding-bottom: 39px;
  }
  .footer__logo {
    display: none;
  }
  .cart__products {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 64px;
  }
  .products {
    margin-bottom: 64px;
  }
  .furniture__item {
    height: 268px;
    font-size: 34px;
    line-height: 41px;
  }
}

@media (max-width: 768px) {
  .main {
    text-align: center;
  }
  .main__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .main__subtitle {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .main__link {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
  }
  .furniture__title, .catalog__title, .offer__title {
    font-size: 24px;
    line-height: 29px;
  }
  .furniture__items {
    gap: 16px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .furniture__item {
    font-size: 28px;
    line-height: 34px;
    grid-column: 1/-1;
    height: 374px;
  }
  .furniture__item--big {
    grid-column: 1/-1;
    height: 244px;
  }
  .item__title {
    font-size: 18px;
    line-height: 22px;
  }
  .item__price {
    font-size: 18px;
    line-height: 22px;
  }
  .offer__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__col {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    margin-bottom: 36px;
  }
  .form {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    /*margin: 0 auto;*/
  }
  .product {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 19px;
  }
  .product img {
    display: none;
  }
  .product__content {
    padding-left: 0;
  }
  .product__title {
    font-size: 18px;
    line-height: 22px;
  }
  .product__descr {
    font-size: 12px;
    line-height: 15px;
  }
  .product__price {
    font-size: 12px;
    line-height: 15px;
  }
  .product__btn {
    font-size: 14px;
    line-height: 210%;
  }
  .products__btn {
    font-size: 12px;
    line-height: 15px;
  }
  .bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .menu, .search {
    display: none;
  }
  .menu__mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
  .header__logo {
    width: 99px;
    height: 22px;
  }
  .catalog__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 428px) {
  .offer__item {
    width: 100%;
  }
  .catalog__item {
    width: 100%;
  }
  .main__title {
    font-size: 36px;
  }
}
/*# sourceMappingURL=style.css.map */